.SkillsCertificates-page {
    background-color: #fff;
    width: 100%;
    height: 120%;
    margin-top: -5%;
}

.hashLoader{
    position:fixed;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    color: black;
}

.Skills{
    .olu{
        color: coral;
        font-size: 24px;
    }
    margin-top: -40%;
    margin-left: 5%;
}

.Certificates {
    .oll {
        font-size: 24px;
        color:coral;
    }
    .ull {
        font-size: 15px;
        margin-left: 7%;
    }
    margin-top: 25%;
    margin-left: 5%;
}

.mcCube{
    z-index: -1;
    margin-top: 20%;
    margin-left: 60%;
    transform: rotateZ(30deg);
}